@import '@material/react-button/index.scss';
@import "./overrides/react-button-overrides";
@import '@material/react-layout-grid/index.scss';


body {
  background-color: #FFF5F5;

}
.grid {
  background-color: #ead0d0;
}

.row {
  background-color: 	#f5f5ff;
}
.rowTwo {
  align-items: center;
  margin-top: 50px;
}
.cell {
  background-color: #f5f5ff;

}
.Button {
  margin-top: 300px;

}
