@import "@material/react-button/index.scss";
@import '@material/react-drawer/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import "../styles/colours";
@import '@material/react-typography/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import "@material/top-app-bar/mixins";

.permanent_drawer {
  @include mdc-drawer-surface-fill-color($berry);
}

.logo {
  transform: scale(2.8);
  margin: 15px;
}
.link {
    text-decoration: none;
    color: white;


}
.home {
  background-color: $mint;
}
  .top-app-bar-alternate {
    @include mdc-top-app-bar-fill-color($transparent);
    @include mdc-top-app-bar-icon-ink-color($berry);
  }

.mdc-list list-alternate a {
  text-decoration: none;
}
.search {
  @include mdc-text-field-ink-color(black);
  @include mdc-text-field-label-color($blue);
  @include mdc-text-field-caret-color($blue);
  @include mdc-text-field-fullwidth-bottom-line-color($pink);
}
