@import "@material/react-button/index.scss";
@import '@material/react-drawer/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import "./overrides/react-button-overrides";
@import "./overrides/colours";
@import '@material/react-typography/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-top-app-bar/index.scss';
.permanent_drawer {
  @include mdc-drawer-surface-fill-color($berry);
  @include mdc-drawer-width(500px);
margin-top: -48px;
}

.logo {
  transform: scale(3.2);
  margin: 25px;
}
.link {
    text-decoration: none;
    color: white;
    margin-left: 25px;

}
.home {
  background-color: $mint;
}

.search {
  @include mdc-text-field-ink-color(black);
  @include mdc-text-field-label-color($blue);
  @include mdc-text-field-caret-color($blue);
  @include mdc-text-field-fullwidth-bottom-line-color($pink);
}
